<div class="container">
  <div class="well">
    <h1>Sorry! There was an error</h1>
  </div>
  <hr />
  <a href="/signup">
    <button class="btn btn-lg btn-success">
        Signup
    </button>
  </a>
  <a href="/login">
    <button class="btn btn-lg btn-success">
        Login
    </button>
  </a>
  <img src="http://uscchannel.com/wp-content/uploads/2014/10/453768-cats-cute.jpg" width="200">
</div>
