<div class="col-md-12">
  <div class="well">
    <h1>Cats and Dogs</h1>'
    <button class="btn btn-lg btn-success">Signup</button>
    <button class="btn btn-lg btn-success">Login</button>
  </div>
  <img src="http://uscchannel.com/wp-content/uploads/2014/10/453768-cats-cute.jpg" width="200">
  <img src="http://canineplanet.net/wp-content/uploads/2014/08/cute-dog-2014-08-22.jpg" width="200">
</div>
